* { box-sizing: border-box;}
html, body, #container { width: 100%; height: 100%; }
body { margin: 0; }

#start {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 11;
    background-color: darkgray;
    height: 100vh;
    width: 100%;
    transform: translate(-50%, -50%);
    opacity: 80%;
}

#container-button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#start-button{
    padding: 50px;
    border-radius: 10%;
    border: 1px solid lightgray;
}

#container {
    background: url('images/11_background.png');
    image-rendering: pixelated;
    overflow: hidden;
    position: fixed;
}

#ground {
    background: url('images/01_ground.png');
    animation: loop 9s linear infinite;
    z-index: 10;
}

#idle{
    background: url('images/idle.gif')  0 bottom;
    z-index: 10;
    width: 100%;
    height: 87%;
    background-repeat: no-repeat;
    background-size: 250px;
    position: relative;
    left: 200px;
}

.animate-jump {
    animation: jump 400ms;
}

@keyframes jump {
    0% {
        bottom: 1rem;
    }
    30% {
        bottom: 20%;
    }
    70% {
        bottom: 20%;
    }
    100% {
        bottom: 1rem;
    }
}


#trees_and_bushes {
    background: url('images/02_trees and bushes.png');
    animation: loop 7s linear infinite;
    z-index: 9;
}

#distant_trees{
    background: url('images/03_distant_trees.png');
    animation: loop 6s linear infinite;
    z-index: 8;
}

#hill1{
    background: url('images/05_hill1.png');
    animation: loop 5s linear infinite;
    z-index: 7;
}

#hill2{
    background: url('images/06_hill2.png');
    animation: loop 4s linear infinite;
    z-index: 6;
}

#huge_clouds{
    background: url('images/07_huge_clouds.png');
    animation: loop 4s linear infinite;
    z-index: 5;
}

#clouds {
    background: url('images/08_clouds.png');
    animation: loop 4s linear infinite;
    z-index: 4;
}

#distant_clouds {
    background: url('images/10_distant_clouds.png');
    animation: loop 4s linear infinite;
    z-index: 4;
}

#ground, #trees_and_bushes, #distant_trees, #hill1, #hill2, #huge_clouds, #distant_trees,#clouds,#distant_clouds{
    width: 250%; height: 100%;
    background-size: 30%;
    bottom: 0; left: 0;
    position: fixed;
}

@keyframes loop {
    from { transform: translateX(0); }
    to { transform: translateX(-30%); }
}